### Importing a CSV file into a Database

#### Steps
- Import the csv file into a pandas df
- Clean the table name and remove extra symbols, spaces, capital letters
- write the create table SQL statement
- Import the data into the DB

In [1]:
# importing libraries
import os
import pandas as pd
import numpy as np
import glob
import psycopg2
import sqlalchemy
import shutil

In [2]:
# checking if current files exist in the backup section 
pd.reset_option('^display.', silent=True)
os.chdir(r"C:\\Users\\Tobiloba\\Desktop\\ABMF\\Backup")
# src_files = os.listdir(src)

backup_files = glob.glob("*.csv") #creates a list of all csv files

backup_files

[]

In [3]:
# Grabbing all files from the main directory
pd.reset_option('^display.', silent=True)
os.chdir(r"C:\\Users\\Tobiloba\\Desktop\\ABMF\\Main")
# src_files = os.listdir(src)

globbed_files = glob.glob("*.csv") #creates a list of all csv files

globbed_files

['abmfapapa-2022-08-05T15-57-00-1day.csv',
 'abmfapapa-2022-08-07T15-57-00-1day.csv']

In [4]:
# Comparing backup files with main files to avoid duplication of files
for files in backup_files:
    if files in globbed_files:
        globbed_files.remove(files)

print(globbed_files)

['abmfapapa-2022-08-05T15-57-00-1day.csv', 'abmfapapa-2022-08-07T15-57-00-1day.csv']

In [5]:
# Importing the file and deleting the file from directory after import
data = []
for csv in globbed_files:
    frame = pd.read_csv(csv, on_bad_lines='skip')
    frame['filename'] = os.path.basename(csv)
    data.append(frame)
    print("{} , File Data taken".format(csv))
    
    # sending file to a backup directory
    full_file_name = os.path.join("C:\\Users\\Tobiloba\\Desktop\\ABMF\\Main", csv)
    if os.path.isfile(full_file_name):
        shutil.copy(full_file_name, "C:\\Users\\Tobiloba\\Desktop\\ABMF\\Backup")
    print("{}, moved to backup".format(csv))
    
    # removing the file from the current directory
    os.remove(csv)    # might have to put this on the loop level to delete all files at the ending 
    print("{} , moved to database".format(csv))
    df = pd.concat(data)

abmfapapa-2022-08-05T15-57-00-1day.csv , File Data taken
abmfapapa-2022-08-05T15-57-00-1day.csv, moved to backup
abmfapapa-2022-08-05T15-57-00-1day.csv , moved to database
abmfapapa-2022-08-07T15-57-00-1day.csv , File Data taken
abmfapapa-2022-08-07T15-57-00-1day.csv, moved to backup
abmfapapa-2022-08-07T15-57-00-1day.csv , moved to database

In [6]:
df

,Time,Freq_Hz,Va_V,Vb_V,Vc_V,Vnavg_V,Vab_V,Vbc_V,Vca_V,Vlavg_V,...,DMD_Ss3_kVA,DI1,DI2,DI3,DI4,DI5,DI6,DI7,DI8,filename
0,2022-08-05 15:57:00,49.402,213.177,210.984,212.721,212.294,368.673,366.656,367.297,367.542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-05T15-57-00-1day.csv
1,2022-08-05 15:58:00,49.497,212.979,210.506,212.886,212.124,368.046,366.431,367.175,367.217,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-05T15-57-00-1day.csv
2,2022-08-05 15:59:00,49.680,213.232,210.875,213.282,212.463,368.717,367.244,367.666,367.875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-05T15-57-00-1day.csv
3,2022-08-05 16:00:00,49.961,213.844,211.457,213.971,213.091,369.470,368.315,368.847,368.877,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-05T15-57-00-1day.csv
4,2022-08-05 16:01:00,50.127,214.327,211.948,214.303,213.526,370.448,368.844,369.582,369.625,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-05T15-57-00-1day.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,2022-08-08 15:52:00,49.593,232.606,227.954,230.469,230.343,399.549,395.245,401.533,398.776,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-07T15-57-00-1day.csv
489,2022-08-08 15:53:00,49.767,232.816,227.592,228.989,229.799,400.015,393.350,400.188,397.851,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-07T15-57-00-1day.csv
490,2022-08-08 15:54:00,49.932,233.168,227.282,227.581,229.343,400.529,391.462,398.693,396.895,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-07T15-57-00-1day.csv
491,2022-08-08 15:55:00,49.873,233.133,227.275,227.601,229.336,400.479,391.620,398.649,396.916,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-07T15-57-00-1day.csv
492,2022-08-08 15:56:00,49.786,233.070,227.214,227.510,229.265,400.601,391.574,398.791,396.989,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,abmfapapa-2022-08-07T15-57-00-1day.csv

In [7]:
# dataframe manipulation and transformation

# Handling the site identification
site = df['filename'].str.split('-', expand=True)[[0]]
    
conditions = [ (site[0] == 'abmfikorodu'), (site[0]=='abmfapapa'), (site[0]=='abmfbadagary'), (site[0]=='abmfgbagi'),(site[0]=='abmfho'),
             (site[0]=='abmfObak'), (site[0]=='abmfokearin'), (site[0]=='abmfonitsha1'), (site[0]=='abmfonitsha2')]

# create a list of the values we want to assign for each condition
values = ['Ikorodu','Apapa','Badagary', 'Gbagi','Head Office','Oba Akran','Oke Arin', 'Onitsha 1', 'Onitsha 2']

# create a new column and use np.select to assign values to it using our lists as arguments
df['site'] = np.select(conditions, values)
# capitalizing the site names 
df['site'] = df['site'].str.capitalize()


df[['Date','Time']]=df['Time'].str.split(' ', expand=True)

# all wanted columns
wanted_columns =  ['Time','Date','site', 'siteid', 'Freq_Hz', 'Va_V', 'Vb_V', 'Vc_V', 'Vnavg_V', 'Vab_V',
       'Vbc_V', 'Vca_V', 'Vlavg_V', 'Ia_A', 'Ib_A', 'Ic_A', 'Iavg_A', 'PFa',
       'PFb', 'PFc', 'PF', 'I001_A', 'PF001', 'I002_A', 'PF002', 'I003_A',
       'PF003', 'I004_A', 'PF004', 'I005_A', 'PF005', 'I006_A', 'PF006',
       'I007_A', 'PF007', 'I008_A', 'PF008', 'I009_A', 'PF009', 'PFs1', 'PFs2',
       'PFs3', 'Pa_kW', 'Pb_kW', 'Pc_kW', 'P_kW', 'Qa_kvar', 'Qb_kvar',
       'Qc_kvar', 'Q_kvar', 'Sa_kVA', 'Sb_kVA', 'Sc_kVA', 'S_kVA', 'P001_kW',
       'Q001_kvar', 'S001_kVA', 'P002_kW', 'Q002_kvar', 'S002_kVA', 'P003_kW',
       'Q003_kvar', 'S003_kVA', 'P004_kW', 'Q004_kvar', 'S004_kVA', 'P005_kW',
       'Q005_kvar', 'S005_kVA', 'P006_kW', 'Q006_kvar', 'S006_kVA', 'P007_kW',
       'Q007_kvar', 'S007_kVA', 'P008_kW', 'Q008_kvar', 'S008_kVA', 'P009_kW',
       'Q009_kvar', 'S009_kVA', 'Ps1_kW', 'Qs1_kvar', 'Ss1_kVA', 'Ps2_kW',
       'Qs2_kvar', 'Ss2_kVA', 'Ps3_kW', 'Qs3_kvar', 'Ss3_kVA']

# all initial columns
initial_columns = df.columns

# removing all unwanted columns
columns_to_drop = list(set(initial_columns) - set(wanted_columns))
df.drop(columns_to_drop, axis=1,inplace=True)

df

,Time,Freq_Hz,Va_V,Vb_V,Vc_V,Vnavg_V,Vab_V,Vbc_V,Vca_V,Vlavg_V,...,Qs1_kvar,Ss1_kVA,Ps2_kW,Qs2_kvar,Ss2_kVA,Ps3_kW,Qs3_kvar,Ss3_kVA,site,Date
0,15:57:00,49.402,213.177,210.984,212.721,212.294,368.673,366.656,367.297,367.542,...,-0.026,12.952,0.000,0.000,0.000,0.0,0.0,0.0,Apapa,2022-08-05
1,15:58:00,49.497,212.979,210.506,212.886,212.124,368.046,366.431,367.175,367.217,...,-0.038,12.632,0.000,0.000,0.000,0.0,0.0,0.0,Apapa,2022-08-05
2,15:59:00,49.680,213.232,210.875,213.282,212.463,368.717,367.244,367.666,367.875,...,-0.019,12.676,0.000,0.000,0.000,0.0,0.0,0.0,Apapa,2022-08-05
3,16:00:00,49.961,213.844,211.457,213.971,213.091,369.470,368.315,368.847,368.877,...,-0.019,12.622,0.000,0.000,0.000,0.0,0.0,0.0,Apapa,2022-08-05
4,16:01:00,50.127,214.327,211.948,214.303,213.526,370.448,368.844,369.582,369.625,...,-0.013,12.653,0.000,0.000,0.000,0.0,0.0,0.0,Apapa,2022-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,15:52:00,49.593,232.606,227.954,230.469,230.343,399.549,395.245,401.533,398.776,...,0.000,0.000,13.131,1.399,13.447,0.0,0.0,0.0,Apapa,2022-08-08
489,15:53:00,49.767,232.816,227.592,228.989,229.799,400.015,393.350,400.188,397.851,...,0.000,0.000,11.712,1.227,12.007,0.0,0.0,0.0,Apapa,2022-08-08
490,15:54:00,49.932,233.168,227.282,227.581,229.343,400.529,391.462,398.693,396.895,...,0.000,0.000,10.399,1.016,10.713,0.0,0.0,0.0,Apapa,2022-08-08
491,15:55:00,49.873,233.133,227.275,227.601,229.336,400.479,391.620,398.649,396.916,...,0.000,0.000,10.364,1.040,10.710,0.0,0.0,0.0,Apapa,2022-08-08
492,15:56:00,49.786,233.070,227.214,227.510,229.265,400.601,391.574,398.791,396.989,...,0.000,0.000,10.369,1.064,10.729,0.0,0.0,0.0,Apapa,2022-08-08

### SENDING DATA TO DATABASE

In [8]:
import sqlite3

In [9]:
# CONNECTING TO EXISTING SQL DB
conn = sqlite3.connect('abmf.db')

In [10]:
# # Creating the table structure

# create_table_str = """CREATE TABLE IF NOT EXISTS combine (Time TEXT, Freq_Hz REAL, Va_V REAL, Vb_V REAL, Vc_V REAL, Vnavg_V REAL, Vab_V REAL, Vbc_V REAL, Vca_V REAL, Vlavg_V REAL, Ia_A REAL, Ib_A REAL, Ic_A REAL, Iavg_A REAL, PFa REAL, PFb REAL, PFc REAL, PF REAL, I001_A REAL, PF001 REAL, I002_A REAL, PF002 REAL, I003_A REAL, PF003 REAL, I004_A REAL, PF004 REAL, I005_A REAL, PF005 REAL, I006_A REAL, PF006 REAL, I007_A REAL, PF007 REAL, I008_A REAL, PF008 REAL, I009_A REAL, PF009 REAL, PFs1 REAL, PFs2 REAL, PFs3 REAL, Pa_kW REAL, Pb_kW REAL, Pc_kW REAL, P_kW REAL, Qa_kvar REAL, Qb_kvar REAL, Qc_kvar REAL, Q_kvar REAL, Sa_kVA REAL, Sb_kVA REAL, Sc_kVA REAL, S_kVA REAL, P001_kW REAL, Q001_kvar REAL, S001_kVA REAL, P002_kW REAL, Q002_kvar REAL, S002_kVA REAL, P003_kW REAL, Q003_kvar REAL, S003_kVA REAL, P004_kW REAL, Q004_kvar REAL, S004_kVA REAL, P005_kW REAL, Q005_kvar REAL, S005_kVA REAL, P006_kW REAL, Q006_kvar REAL, S006_kVA REAL, P007_kW REAL, Q007_kvar REAL, S007_kVA REAL, P008_kW REAL, Q008_kvar REAL, S008_kVA REAL, P009_kW REAL, Q009_kvar REAL, S009_kVA REAL, Ps1_kW REAL, Qs1_kvar REAL, Ss1_kVA REAL, Ps2_kW REAL, Qs2_kvar REAL, Ss2_kVA REAL, Ps3_kW REAL, Qs3_kvar REAL, Ss3_kVA REAL, site TEXT, Date TEXT);"""

# cursor = conn.cursor()
# cursor.execute(create_table_str)
# print("Connection Established")

In [11]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [12]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [13]:
def main():
    database = r"C:\Users\Tobiloba\Desktop\ABMF\Database\abmf.db"

    sql_create_table = """ CREATE TABLE IF NOT EXISTS combine (Time TEXT, Freq_Hz REAL, Va_V REAL, Vb_V REAL, Vc_V REAL, Vnavg_V REAL, Vab_V REAL, Vbc_V REAL, Vca_V REAL, Vlavg_V REAL, Ia_A REAL, Ib_A REAL, Ic_A REAL, Iavg_A REAL, PFa REAL, PFb REAL, PFc REAL, PF REAL, I001_A REAL, PF001 REAL, I002_A REAL, PF002 REAL, I003_A REAL, PF003 REAL, I004_A REAL, PF004 REAL, I005_A REAL, PF005 REAL, I006_A REAL, PF006 REAL, I007_A REAL, PF007 REAL, I008_A REAL, PF008 REAL, I009_A REAL, PF009 REAL, PFs1 REAL, PFs2 REAL, PFs3 REAL, Pa_kW REAL, Pb_kW REAL, Pc_kW REAL, P_kW REAL, Qa_kvar REAL, Qb_kvar REAL, Qc_kvar REAL, Q_kvar REAL, Sa_kVA REAL, Sb_kVA REAL, Sc_kVA REAL, S_kVA REAL, P001_kW REAL, Q001_kvar REAL, S001_kVA REAL, P002_kW REAL, Q002_kvar REAL, S002_kVA REAL, P003_kW REAL, Q003_kvar REAL, S003_kVA REAL, P004_kW REAL, Q004_kvar REAL, S004_kVA REAL, P005_kW REAL, Q005_kvar REAL, S005_kVA REAL, P006_kW REAL, Q006_kvar REAL, S006_kVA REAL, P007_kW REAL, Q007_kvar REAL, S007_kVA REAL, P008_kW REAL, Q008_kvar REAL, S008_kVA REAL, P009_kW REAL, Q009_kvar REAL, S009_kVA REAL, Ps1_kW REAL, Qs1_kvar REAL, Ss1_kVA REAL, Ps2_kW REAL, Qs2_kvar REAL, Ss2_kVA REAL, Ps3_kW REAL, Qs3_kvar REAL, Ss3_kVA REAL, site TEXT, Date TEXT); """
    
    
    # create a database connection
    conn = create_connection(database)
    # create tables
    if conn is not None:
        # create table
        create_table(conn, sql_create_table)
        df.to_sql(name="combine",con = conn, if_exists='append', index=False)  
        combine = pd.read_sql('SELECT DISTINCT * FROM combine', conn)
        combine.to_sql(name="combine",con = conn, if_exists='replace', index=False)
        
        
    
    else:
        print("Error! cannot create the database connection.")

In [14]:
if __name__ == '__main__':
    main()